<a href="https://colab.research.google.com/github/MAHARAJASINGH/PythonBeginner/blob/master/PythonDay8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##Pandas Dataframes
##no columns specified here....so 0 column would be here...
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

Panda and numpy data difference
pandas we use for difference type of data
difference bet pandas and numpy
panda dataframe-oracle dataframe we have
panda is good with dataframe----tabular view of data in dataframe
large volume---for pandas....
datasets that closely resemble to a table.
panda dataframe object----rdbms table
numpy is all for mathematical operations 

use this link
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf\
spider in anaconda
jupiter,...ides where python work can be done

In [2]:
##input
##table and condition in them
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)
print(df['Name'])

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13
0      Alex
1       Bob
2    Clarke
Name: Name, dtype: object

In [3]:
##input
##table with the datatype variable
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [4]:
##input
##defining table in single shot
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [7]:
##input
##defining table more shorter way
##index helps us in setting row names...else they will be 0,1,2...
##data names and columns are quite sufficient for extracting the value
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [8]:
##input
##if data rows and columns inputs are mis mathing
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

values in index column are allowed to repeat. So uniqueness is not guranteed

In [10]:
##complex input
##if column values are not defined
#Live Demo
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1)
print(df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [11]:
##input
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

file handling in colab...put file in google dricve and provide authentication in it..
if using spider.....then save in some c drive and read and write in it

In [12]:
##input
##dataframes in most smaller way
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [13]:
##input
f = open("demofile2.txt", "a")
f.write("Now the file has more content!")
f.close()
#open and read the file after the appending:
f = open("demofile2.txt", "r")
print(f.read())

##in csv file
#u can use this as a data framework as well

Now the file has more content!

in colab this is vreated in the temporary memory..
if use in Collab mount the drive
An alternative to persist files across colab sessions - mount google drive in colab
from google.colab import drive
drive.mount('/content/gdrive')
we can also use : from google.colab import files
uploaded = files.upload()

In [ ]:
##for what use is it...??
pd.read(io.BytesIO(uploaded['demofile2.txt']))

In [ ]:
##input
f = open("sample_data/california_housing_test.csv", "r")
print(f.read())

In [ ]:
##input
import pandas as pd
df = pd.read_csv (r'/content/sample_data/california_housing_test.csv')
print(df['longitude'])
print("pinting whole")
print(df)

In [ ]:
##input
import csv
with open('/content/sample_data/california_housing_test.csv','rt')as f:
  data = csv.reader(f)
  for row in data:
        print(row)

In [ ]:
##input
import csv
import pandas as pd
df = pd.read_csv (r'/content/sample_data/california_housing_test.csv')
print(df['longitude'])
print("complete values are here")
print(df)

In [ ]:
##input
##wrong answer
##json
import json
x=json.loads('/content/sample_data/anscombe.json')
print(x)

r - read ,a = append w= write mode

In [ ]:
##input
import csv
with open('/content/sample_data/mnist_test.csv','rt')as f:
  data = csv.reader(f)
  for row in data:
        print(row)

In [33]:
##input
# some JSON:
x =  '{ "name":"John", "age":30, "city":"NewYork"}'


# parse x:
y = json.loads(x)

# the result is aPython dictionary:
print(y["age"])

30

In [34]:
##input
##dumps means parsing it into the json
##dictionary into the json
x = {
  "name":  "John",
  "age": 30,
  "city": "New York"
}

#convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [53]:
##input
#alternate option using data frames
##use index or some suppression in order to delete the last one
f = open("sample_data/my_empData.csv",'w')
f.write("name,age,gender,id\n")
f.write("Joseph Cutler,39,M,198126\n")
f.write("Jean Cutler,38,F,19805\n")
f.write("John Cutler,40,M,19792\n")
f.write("Joyce Cutler,10,F,201020\n")
f.close()
import pandas as pd
df= pd.read_csv("sample_data/my_empData.csv")
print(df)
print(df["age"])

            name  age gender      id
0  Joseph Cutler   39      M  198126
1    Jean Cutler   38      F   19805
2    John Cutler   40      M   19792
3   Joyce Cutler   10      F  201020
0    39
1    38
2    40
3    10
Name: age, dtype: int64

In [36]:
##input
#Live Demo 
##numpy use in pandas
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [37]:
##input
##numpy pandas with index
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [38]:
##input
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [58]:
#input
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [41]:
##input
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
#retrieve the first element
print(s[0:3])
##means 0,1,2 values only

a    1
b    2
c    3
dtype: int64

In [46]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
#retrieve a single element
print(s['b'])

2

In [59]:
##input
#Live Demo 
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
#retrieve the first three element
print(s[:3])
##0,1,2 index

a    1
b    2
c    3
dtype: int64

In [44]:
##input
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
#retrieve the last three element
print(s[-3:])
#3,4,5

c    3
d    4
e    5
dtype: int64

In [47]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

In [48]:
#Live Demo 
##check with more examples
import pandas as pd

print(pd.Timedelta('3 days 24 hours 60 minutes 60 seconds'))

4 days 01:01:00

In [49]:
##input
s = pd.Series(pd.date_range('2012-1-1', periods=3, freq='D'))
print(s)
td = pd.Series([ pd.Timedelta(days=i) for i in range(3) ])
df = pd.DataFrame(dict(A = s, B = td))
print(df)
df['C']=df['A']+df['B']
df['D']=df['C']+df['B']
df['S']=df['A']-df['B']
print(df)

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]
           A      B
0 2012-01-01 0 days
1 2012-01-02 1 days
2 2012-01-03 2 days
           A      B          C          D          S
0 2012-01-01 0 days 2012-01-01 2012-01-01 2012-01-01
1 2012-01-02 1 days 2012-01-03 2012-01-04 2012-01-01
2 2012-01-03 2 days 2012-01-05 2012-01-07 2012-01-01

In [50]:
##input
import pandas as pd

s = pd.Series(pd.date_range('2012-1-1', periods=3, freq='D'))
print(s)
td = pd.Series([ pd.Timedelta(days=i) for i in (10,20,30) ])
print(td)
df = pd.DataFrame(dict(A = s, B = td))
df['C']=df['A']+df['B']
print(df)
#pip install pandasql should be away rom from code
#---once  a time not everytime
##is PandaSQL pre-installed on other editors

0   2012-01-01
1   2012-01-02
2   2012-01-03
dtype: datetime64[ns]
0   10 days
1   20 days
2   30 days
dtype: timedelta64[ns]
           A       B          C
0 2012-01-01 10 days 2012-01-11
1 2012-01-02 20 days 2012-01-22
2 2012-01-03 30 days 2012-02-02

In [ ]:
##input
import pandasql
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
pandasql.sqldf("SELECT * FROM df LIMIT 20;", globals())
#This is very slow. Returning top 10 rows from a DataFrame with 50,000 
#records takes almost a minute
#df.head() seems to be much faster

In [ ]:
##input
import pandasql 
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
pandasql.sqldf("SELECT sum(two) FROM df LIMIT 20;", globals())

In [52]:
##input
import pandas as pd
import numpy as np
import pandasql

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])

df2 = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])


jdf1 = pd.DataFrame(np.random.randn(10, 4))
jdf2 = pd.DataFrame(np.random.randn(10, 4))
#jdf1.join(jdf2)
#print(df['A'])
cdf = df['A']
#print(cdf)
df1 = np.arange(0, 30, 2)
df2 = np.arange(0, 20, 2)

print(df1)
pdf1 = pd.DataFrame(df1)
print(np.sum(pdf1))
gdf=(df.groupby(['A']).mean())
print(gdf)
   
#print(pdf1)
r = cdf.rolling(window=2,min_periods=1)

ModuleNotFoundError: ignored