<a href="https://colab.research.google.com/github/MAHARAJASINGH/PythonBeginner/blob/master/PythonDay4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
##function use in Python
##input
##in jupiter this error is not occured
##yield is a keyword in Python that is used to return from a function without destroying the states of its local variable and when the function is called, the execution starts from the last yield statement. Any function that contains a yield keyword is termed as generator.
##Reading up a little bit on generators will probably make sense: https://wiki.python.org/moin/Generators
##return type of value---set of value
##not a single value
##To preserve memory, to allocate memory for data elements in a lazy mode, just in time
def transform(lst): 
      
    previous = 0
    grp = 0
    for elem in lst: 
        if elem and not previous: 
             grp += 1
        previous = elem 
        yield (grp if elem else 0) 
      
# Driver code 
lst = [0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1] 
x = (transform(lst)) 
#print(x)
res = [] 
for i in range(0, len(lst)): 
    res.append(next(x)) 
print(res)

[0, 1, 0, 0, 2, 2, 0, 0, 0, 3, 3, 3]

In [2]:
##Input
def transform(lst): 
      
    previous = 0
    grp = 0
    for elem in lst: 
        if elem and not previous: 
             grp += 1
        previous = elem 
        yield (grp if elem else 0) 
      
# Driver code 
lst = [0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1] 
x = (transform(lst)) 
print(x)
for elem in x:print(elem)
res = []
for i in x:
  res.append((i))
  print (res)

<generator object transform at 0x7ff187b3bf10>
0
1
0
0
2
2
0
0
0
3
3
3

In [3]:
##input
def transform(lst): 
      
    previous = 0
    grp = 0
    for elem in lst: 
        if elem and not previous: 
             grp += 1
        previous = elem 
        yield (grp if elem else 0) 
      
# Driver code 
lst = [0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1] 
x = (transform(lst)) 
print(x)
for elem in x:print(elem)
res = [] 
for i in x:
    res.append((i)) 
print(res)

<generator object transform at 0x7ff187b464c0>
0
1
0
0
2
2
0
0
0
3
3
3
[]

In [7]:
##input 
#multi condition code
l = [22, 13, 45, 50, 98, 69, 43, 44, 1]
print([x+1 if x >= 45 else x+5 for x in l])

[27, 18, 46, 51, 99, 70, 48, 49, 6]

In [5]:
##input
##use of iterator in list
def transform(lst): 
      
    previous = 0
    grp = 0
    for elem in lst: 
        if elem and not previous: 
             grp += 1
        previous = elem 
        yield (grp if elem else 0) 
      
# Driver code 
lst = [0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1] 
x = (transform(lst)) 
#print(x)
res = [] 
for i in range(0, len(lst)): 
    res.append(next(x)) 
print(res)

[0, 1, 0, 0, 2, 2, 0, 0, 0, 3, 3, 3]

In [8]:
##list comprehension
##list classifiction
print([i for i in range(8) if i%2!=0])
##first i will get printed

[1, 3, 5, 7]

In [9]:
##input
#two dimensional multiplication
##interpretor will format if we use f here
##f means Formatted string literals
##The f means Formatted string literals and it's new in Python 3.6 .
## A formatted string literal or f-string is a string literal that is prefixed with 'f' or 'F' . 
##similar to $ in c#

for i in range(7,9):
        for j in range(1,11):
               print(f"{i}*{j}={i*j}")

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

myset={1,2,3} ----these define the set and [] define the lit

In [10]:
##input
##unpacking tuple value
list=['Romanian','Spanish','Gujarati']
for i in range(len(list)):
        print(list[i])
        
for i in list:print(i)

Romanian
Spanish
Gujarati
Romanian
Spanish
Gujarati

In [11]:
##tuple unpacking
##input
#unpacking tuple value
percentages=(99,95,90,89,93,96)
a,b,c,d,e,f=percentages
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

99
95
90
89
93
96

In [12]:
##multidimensional tuple
##input
##nested tuple
a=((1,2,3),(4,(5,6)))
#a[1][1][1]
print(a[1])
print(a[1][0])
print(a[0][2])

(4, (5, 6))
4
3

In [13]:
##input
##in set u can have duplicates values
##set will not allow embedding of datas et in other dataset.....or mixing of dataset
##tuple can have a list and a set as well
##Yes, that is an example Set doesn't allow list to be nested
##error will come definately
a={1,3,2}
c={1,2.0,'three'}
for x in c:print(x)
a = {1,2,2,3}
print(a)
d={[1,2,3],4}
print(d)

1
2.0
three
{1, 2, 3}

TypeError: ignored

In [14]:
##discard is for specific element removal
##pop is for top most element
##input
numbers={3,2,1,4,6,5}
numbers.discard(3)
print(numbers)
numbers.pop()
print(numbers)

{1, 2, 4, 5, 6}
{2, 4, 5, 6}

In [15]:
##input
##set is not supporting indexing
numbers={3,2,1,4,6,5}
numbers.discard(3)
print(numbers)
numbers.pop()
print(numbers)
numbers.add(3.5)
print(numbers)
numbers.add("xyz")
print(numbers)
#print(numbers)

{1, 2, 4, 5, 6}
{2, 4, 5, 6}
{2, 3.5, 4, 5, 6}
{2, 3.5, 4, 5, 6, 'xyz'}

In [16]:
##input
##some order concept is here
numbers={3,2,1,4,6,5}
numbers.discard(3)
print(numbers)
numbers.pop()
print(numbers)
numbers.add(3.5)
print(numbers)
numbers.add("xyz")
print(numbers)
#print(numbers)
numbers.update([0,1],{1,2,9})
print(numbers)

{1, 2, 4, 5, 6}
{2, 4, 5, 6}
{2, 3.5, 4, 5, 6}
{2, 3.5, 4, 5, 6, 'xyz'}
{0, 1, 2, 3.5, 4, 5, 6, 9, 'xyz'}

In [18]:
##union will take all the value
##in order as well
##input
set1,set2,set3={1,2,3},{3,4,5},{5,6,7}
print(set2.intersection(set1))
print(set1)
print(set1.union(set2,set3))

{3}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}

In [19]:
##input
set1={1,2,3}
set2={3,4,5}
set1.difference_update(set2)
set1

{1, 2}

In [20]:
##input
subset and parent set need to know
set4 = set1.intersection(set2, set3)
if set4:
  print (set4)

In [21]:
##input
set1={1,2,3}
set2={3,4,5}
set1.difference_update(set2)  ##present in set 1 but not in set 2
print(set1)

{1, 2}

In [23]:
##isdisjoint here in sub set
##input
##superset and subset
##disjoint will give true only when all elements are different
print({1,3,2}.isdisjoint({4,3,6}))
print({1,2}.issubset({1,2,3}))
print({1,3,4}.issuperset({1,2}))
print({1,3,4}.issuperset({1}))
print({1,2,7}.isdisjoint({4,3,6}))

False
True
False
True
True