<a href="https://colab.research.google.com/github/MAHARAJASINGH/PythonBeginner/blob/master/PythonDay11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
##input
#sorting data frame
#np.random.randn(10,2)   what this will do...?
#it creates random numbers with 10 rows and 2 columns
#getting negative values in col2 and 1
import pandas as pd
import numpy as np
print("randon numbers")
print(np.random.randn(10,2))
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print(unsorted_df)
sorted_df=unsorted_df.sort_index()
print(sorted_df)

randon numbers
[[ 0.57557138 -1.84937846]
 [-1.12413046  0.38768102]
 [ 0.17712626 -1.54741253]
 [ 0.72767139  1.55172814]
 [ 1.13935604  0.02230416]
 [ 1.01131908 -0.76513678]
 [ 0.13176398  0.20128588]
 [ 0.27462762 -1.81322802]
 [-0.15931773  0.88224093]
 [ 0.75929193 -1.01739176]]
       col2      col1
1 -0.415530 -1.452475
4 -0.762530 -0.613949
6 -1.121789 -1.181962
2 -0.433400  0.599947
3  0.265361 -1.202523
5  0.670599  1.190541
9  1.191485 -1.204397
8 -0.280668  0.898725
0  0.876947 -0.481778
7 -0.794929 -1.520873
       col2      col1
0  0.876947 -0.481778
1 -0.415530 -1.452475
2 -0.433400  0.599947
3  0.265361 -1.202523
4 -0.762530 -0.613949
5  0.670599  1.190541
6 -1.121789 -1.181962
7 -0.794929 -1.520873
8 -0.280668  0.898725
9  1.191485 -1.204397

In [4]:
##input
##descending order sorting
##axis---0 ...sort by krow
##axis--1 sort by row
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
sorted_df = unsorted_df.sort_index(ascending=False)
print(sorted_df)

       col2      col1
9 -0.395941  0.038358
8  0.692076 -0.697299
7  0.537881 -0.439167
6  0.235731  0.929932
5  0.385130 -0.496650
4  0.131760  1.020614
3 -0.435971  1.368704
2  1.887079  0.032280
1  1.571237 -0.377780
0  0.122462  1.342239

In [5]:
##input
import pandas as pd
import numpy as np
 
unsorted_df = pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns = ['col2','col1'])
#sort by columns
sorted_df=unsorted_df.sort_index(axis=1)
#sort by rows
sorted_df_r=unsorted_df.sort_index(axis=0)
print(sorted_df)
print(sorted_df_r)

       col1      col2
1  0.462833  0.404310
4 -0.206832 -1.164861
6  0.289786  0.403764
2 -0.099976 -0.911128
3  0.328065 -0.377725
5 -2.012946  0.329895
9 -1.243598 -1.148870
8 -0.829606  0.624608
0 -1.936029 -1.179600
7  0.421162 -0.219223
       col2      col1
0 -1.179600 -1.936029
1  0.404310  0.462833
2 -0.911128 -0.099976
3 -0.377725  0.328065
4 -1.164861 -0.206832
5  0.329895 -2.012946
6  0.403764  0.289786
7 -0.219223  0.421162
8  0.624608 -0.829606
9 -1.148870 -1.243598

In [6]:
##input
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1')
print(sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [7]:
##input
##two columns sorting
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by=['col1','col2'])
##both columns get sorted
print(sorted_df)

   col1  col2
2     1     2
1     1     3
3     1     4
0     2     1

In [8]:
##sorting algorithm
##merger sort
##quick sort
#sort
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1', kind='quicksort')
sorted_df_m = unsorted_df.sort_values(by='col1', kind='mergesort')
sorted_df_s = unsorted_df.sort_values(by='col1', kind='sort')
print(sorted_df)
print(sorted_df_m)
print(sorted_df_s)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1
   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1
   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [ ]:
##input
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by='col1')
print(sorted_df)
from Sharada Lakshmanan (internal) to everyone:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df = unsorted_df.sort_values(by=['col1','col2'])
print(sorted_df)

In [9]:
##use of rolling  here
#aggregate based on single column
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
print(df)
df = df.reindex(pd.date_range('1/1/2000', periods=10))
#print(df)
##what is this..?
r = df.rolling(window=3,min_periods=2)
print(r['A'].aggregate(np.mean))

                   A         B         C         D
2000-01-01 -0.248708  1.762171  0.137257 -0.595150
2000-01-02 -1.130475  0.092878  0.965189  0.744492
2000-01-03  0.190243 -0.451709 -1.319300  1.289941
2000-01-04  0.835694  0.135253  0.562934 -0.106508
2000-01-05  1.608196 -0.902955  0.076998 -0.852823
2000-01-06  0.485115  0.196001  0.617216  0.481853
2000-01-07 -1.243686  0.066450 -0.219236 -1.916185
2000-01-08  1.276022  0.325631 -0.237605 -0.129478
2000-01-09  1.273628  0.973730  1.330393  1.053865
2000-01-10 -0.138941 -0.277239 -0.352028 -0.654264
2000-01-01         NaN
2000-01-02   -0.689592
2000-01-03   -0.396314
2000-01-04   -0.034846
2000-01-05    0.878044
2000-01-06    0.976335
2000-01-07    0.283208
2000-01-08    0.172483
2000-01-09    0.435321
2000-01-10    0.803570
Freq: D, Name: A, dtype: float64

In [10]:
##input
#Apply Different Functions to Different Columns of a Dataframe
##print(df.fillna(0)) can also be used
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(3, 4),
   index = pd.date_range('1/1/2000', periods=3),
   columns = ['A', 'B', 'C', 'D'])
print(df)
r = df.rolling(window=3,min_periods=1)
print(r.aggregate({'A' : np.sum,'B' : np.mean})

SyntaxError: ignored