<a href="https://colab.research.google.com/github/MAHARAJASINGH/PythonBeginner/blob/master/PythonDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Input
import numpy  as np
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]
num = [76,100,23,34]
cars = ['bmw','merc','alto','bmw']
print(min(height))
print(max(weight))
print(sum(height))
print(np.average(weight))
bmi = (max(weight)/max(height))**2
min_bmi = (min(weight)/min(height))**2

np_height=np.array(height)
np_weight=np.array(weight)
print (np_height)

1.82
97.52
11.22
90.33833333333335
[1.87 1.87 1.82 1.91 1.9  1.85]

In [3]:
#Input
Dict = {1:'cars',2:'bus',3:'cycle'}
print(Dict)
#Dict.pop()
print(Dict[2])
for x in Dict:
  print(Dict[x])

{1: 'cars', 2: 'bus', 3: 'cycle'}
bus
cars
bus
cycle

In [4]:
Dict = {1:'cars',2:'bus',3:'cycle'}
print(Dict)
print(Dict[2])
for x in Dict:
  print (Dict[x])

{1: 'cars', 2: 'bus', 3: 'cycle'}
bus
cars
bus
cycle

In [5]:
Dict = {}
print(Dict)
Dict[1]='Maths'
print(Dict)
Dict[2]='Chem'
Dict[3]=['1','2','3']
print(Dict)

{}
{1: 'Maths'}
{1: 'Maths', 2: 'Chem', 3: ['1', '2', '3']}

In [6]:
Dict = {}
print(Dict)
Dict[1]='Maths'
print(Dict)
Dict[2]='Chem'
Dict[3]=['1','2','3']
print(Dict)

{}
{1: 'Maths'}
{1: 'Maths', 2: 'Chem', 3: ['1', '2', '3']}

In [7]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1]) 
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('apple', 'banana', 'cherry')
banana
cherry
('cherry', 'orange', 'kiwi')
('orange', 'kiwi', 'melon')

check check

In [8]:
x = range(100)
x
#list(x)
print(tuple(x))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)

In [10]:
tuple = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}
print (tuple)

{'Wednesday', 'Tuesday', 'Sunday', 'Monday', 'Saturday', 'Thursday', 'Friday'}

In [13]:

Yourcategory = {"Monday", "Tuesday", "Wednesday", "Thursday"}
print (tuple)

{'Wednesday', 'Tuesday', 'Sunday', 'Monday', 'Saturday', 'Thursday', 'Friday'}

In [14]:
category = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday"}
print (tuple)

{'Wednesday', 'Tuesday', 'Sunday', 'Monday', 'Saturday', 'Thursday', 'Friday'}

In [16]:
x = ("apple", "banana", "cherry")
print("tuple1",x)
y = list(x)
y[1] = "kiwi"
print("changed list",y)
x = tuple(y)
print("converted tuple",x)

tuple1 ('apple', 'banana', 'cherry')
changed list ['apple', 'kiwi', 'cherry']

TypeError: ignored

In [17]:
import numpy  as np
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]
num = [76,100,23,34]
cars = ['bmw','merc','alto','bmw']
print(min(height))
print(max(weight))
print(sum(height))
print(np.average(weight))

1.82
97.52
11.22
90.33833333333335

In [18]:
import numpy  as np
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]
num = [76,100,23,34]
cars = ['bmw','merc','alto','bmw']
print(min(height))
print(max(weight))
print(sum(height))
print(np.average(weight))
bmi = (max(weight)/max(height))**2
min_bmi = (min(weight)/min(height))**2

1.82
97.52
11.22
90.33833333333335

In [19]:
n_num = [1, 2, 3, 4, 5] 
n = len(n_num) 
  
get_sum = sum(n_num) 
mean = get_sum / n 
  
print("Mean / Average is: " + str(mean))

Mean / Average is: 3.0

In [20]:
import numpy  as np
height = [1.87,  1.87, 1.82, 1.91, 1.90, 1.85]
weight = [81.65, 97.52, 95.25, 92.98, 86.18, 88.45]
num = [76,100,23,34]
cars = ['bmw','merc','alto','bmw']
print(min(height))
print(max(weight))
print(sum(height))
print(np.average(weight))
bmi = (max(weight)/max(height))**2
min_bmi = (min(weight)/min(height))**2

np_height=np.array(height)
np_weight=np.array(weight)
print (np_height)

1.82
97.52
11.22
90.33833333333335
[1.87 1.87 1.82 1.91 1.9  1.85]