<a href="https://colab.research.google.com/github/MAHARAJASINGH/PythonBeginner/blob/master/PythonDay10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##input
##assignment
##pycharm he is using----how many ides this python can work
import pandas as pd
temp_c = [ 8.0,  7.1,  6.8,  6.4,  6.0,  5.4,  4.8,  5.0,
          9.1, 12.8, 15.3, 19.1, 21.2, 22.1, 22.4, 23.1,
          21.0, 17.9, 15.5, 14.4, 11.9, 11.0, 10.2,  9.1]
dt = pd.date_range(start='2019-10-27 00:00:00.0', periods=24,
                    freq='H')
temp = pd.DataFrame(data={'temp_c': temp_c}, index=dt)
print(temp)
##giving condition here
temp['2019-10-27 05':'2019-10-27 14']
#resampling
print(temp.resample(rule='6h').mean())
print(temp[(temp['temp_c'] >= 6.0) & (temp['temp_c'] <= 10.0)])

In [46]:
##input
import pandas as pd
# Assignment to get covid patient temp every 1hr
patient_temperature = [
    ['John', 'Peter', 'Christy', 'James', 'Emily', 'Michael', 'Matthew', 'Laurens', 'Kevin', 'Jones'],
    [98.5, 98.8, 96.5, 94.5, 99.2, 99.8, 100.5, 99.5, 98.0, 99.1]]
df = pd.DataFrame(patient_temperature)
print(df)
#date_range = pd.date_range(start='2019-07-01 00:00:00.0', periods=24, freq='H')
# temper = pd.DataFrame(patient_temperature, index=date_range, columns=['A', 'B'])
#temper = pd.DataFrame(data={'temp_c': patient_temperature}, index=date_range, columns=['name', 'temperature'])
#print(temper)
#temper['2019-07-01 05':'2019-07-01 14']
# print(temper.resample(rule='6h').mean())

IndentationError: ignored

In [ ]:
##input
import pandas as pd
temp_c = [ 8.0,  7.1,  6.8,  6.4,  6.0,  5.4,  4.8,  5.0,
          9.1, 12.8, 15.3, 19.1, 21.2, 22.1, 22.4, 23.1,
          21.0, 17.9, 15.5, 14.4, 11.9, 11.0, 10.2,  9.1]
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'temper':[98,104,99,102]}
dt = pd.date_range(start='2019-10-27 00:00:00.0', periods=24,
                    freq='H')
#temp = pd.DataFrame(data={'temp_c': temp_c}, index=dt)
temp = pd.DataFrame(data,columns=['Name','temper'])
print(temp)
#temp['2019-10-27 05':'2019-10-27 14']
#resampling
#print(temp.resample(rule='6h').mean())
#print("suspected patients")
print(temp[(temp['temper'] >= 98) & (temp['temper'] <= 104.0)])
print("normal patients")
print(temp[(temp['temper'] == 98)])

##df = sns.load_dataset('tips') -> github not required
tips is inbuilt
can also be used instead of github

In [47]:
##input
##use of group by in it and use of github as well
##i thought .first() prints the first row in each group-by-set?
##for example, Sunday has 5 rows but when first() is given it is printing only the first row of 16.99 total bill
import pandas as pd
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
pd.options.display.max_rows = 10
print(df)
gfk=df.groupby('day')
print(gfk.first())
mfk=df.groupby('day').mean()
print(mfk)
##i thought .first() prints the first row in each group-by-set?

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]
      total_bill   tip     sex smoker    time  size
day
Fri        28.97  3.00    Male    Yes  Dinner     2
Sat        20.65  3.35    Male     No  Dinner     3
Sun        16.99  1.01  Female     No  Dinner     2
Thur       27.20  4.00    Male     No   Lunch     4
      total_bill       tip      size
day
Fri    17.151579  2.734737  2.105263
Sat    20.441379  2.993103  2.517241
Sun    21.410000  3.255132  2.842105
Thur   17.682742  2.771452  2.451613

In [ ]:
##input
##grouping examples
import pandas as pd
import pandasql
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
pd.options.display.max_rows = 10
print(df)
gfk=df.groupby('day')
print(gfk.first())
mfk=df.groupby('day').mean()
print(mfk)
ps = pandasql.sqldf("SELECT day,sum(tip) FROM df group by day;", globals())

In [ ]:
##input
import pandas as pd
import pandasql
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
print(df.groupby('day')['total_bill'].aggregate('mean'))
print(df.groupby('day')['total_bill'].mean())

If the data size is hugen as we see here 244 rows of data we will see first 5 and last 5 data... to see the X number of data... you can use head() to see the first X number of data and tail() to see the last x number of data.
take the groupby object in a variable, then call max and min in the same print call.

In [ ]:
##input
import pandas as pd
import pandasql
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
pd.options.display.max_rows = 10
#print(df)
gfk=df.groupby('day')
print(gfk.head(244))
mfk=df.groupby('day').mean()
print(mfk)
ps = pandasql.sqldf("SELECT day,sum(tip) FROM df group by day;", globals())

In [ ]:
##input
import pandas as pd
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
pd.options.display.max_rows = 10
print(df)
gfk=df.groupby('day')
print(gfk.first())
mfk=df.groupby('day').mean()
print(mfk)

In [ ]:
##input
import pandas as pd
import pandasql
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
pd.options.display.max_rows = 10
print(df)
gfk=df.groupby('day')
print(gfk.first())
mfk=df.groupby('day').mean()
print(mfk)
ps = pandasql.sqldf("SELECT day,sum(tip) FROM df group by day;", globals())

In [ ]:
##input
import pandas as pd
import pandasql
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
pd.options.display.max_rows = 10
#print(df)
gfk=df.groupby('day')
print(gfk.head(244))
mfk=df.groupby('day').mean()
print(mfk)
ps = pandasql.sqldf("SELECT day,sum(tip) FROM df group by day;", globals())

In [36]:
##input
import pandas as pd
import pandasql
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
print(df.groupby('day')['total_bill'].aggregate('mean'))
print(df.groupby('day')['total_bill'].mean())

day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill, dtype: float64
day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill, dtype: float64

In [35]:
##input
import pandas as pd
import pandasql
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
mdf = df.groupby('day')['total_bill'].mean()
print(mdf)
print(df.groupby('day').filter(
    lambda x : x['total_bill'].mean() > 20
)['size'].mean())
print(df.groupby('day').filter(
    lambda x : x['total_bill'].mean() <= 20
)['size'].mean())

day
Fri     17.151579
Sat     20.441379
Sun     21.410000
Thur    17.682742
Name: total_bill, dtype: float64
2.668711656441718
2.3703703703703702

##pip install pandasql for downloading sql ---code in the separate module
##%pip install pandasql
tf=df.groupby('day').transform(lambda x : x.mean())
print(tf)
from Shaunak Guha Thakurata (internal) to everyone:
condition on an aggregate or iterable?
from Joseph Cutler (internal) to everyone:
pip install pandasql
from Sandeep Kumar (internal) to everyone:
import pandasql
from Sharada Lakshmanan (internal) to everyone:
pip install pandasql
from Prasad Josyula (internal) to everyone:
%pip install pandasql

for index, row in df.head(n=2).iterrows():
     print(index, row)

In [ ]:
pip install pandasql

In [42]:
##input
import pandas as pd
import pandasql
df = pd.read_csv(
   "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
   )
mdf = df.groupby('day')['total_bill'].mean()
#print(mdf)
#print(df.groupby('day').filter(
#    lambda x : x['total_bill'].mean() > 20
#)['size'].mean())
#print(df.groupby('day').filter(
#    lambda x : x['total_bill'].mean() <= 20
#)['size'].mean())
#print(df)
print(df.groupby('day')['total_bill'].head(5))
tf=df.groupby('day')['tip'].transform(lambda x : x.mean())
print(tf)

0     16.99
1     10.34
2     21.01
3     23.68
4     24.59
      ...
90    28.97
91    22.49
92     5.75
93    16.32
94    22.75
Name: total_bill, Length: 20, dtype: float64
0      3.255132
1      3.255132
2      3.255132
3      3.255132
4      3.255132
         ...
239    2.993103
240    2.993103
241    2.993103
242    2.993103
243    2.771452
Name: tip, Length: 244, dtype: float64

df['day_average'] = df.groupby('day')['total_bill'].transform(
    lambda x : x.mean()
)
print(df['total_bill'] / df['day_average'])



print(df['total_bill'] / df['day_average'])
df['scaled bill'] = df.groupby('day')['total_bill'].transform(
    lambda x : x/x.mean()
)
print(df)


for day, group in df.groupby('day'):
    df['day_mean'] = group['total_bill'].mean()
    print('average bill for ' + day + ' is ' + str(df['day_mean']))

In [48]:
##input
import pandas as pd 
  
# Creating the DataFrame 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],  
                   "B":[7, 2, 54, 3, None],  
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]})  
  
# Create the index 
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'] 
  
# Set the index 
df.index = index_ 
  
# Print the DataFrame 
#print(df) 
#print(df.sort_values(by=['B','A'], ascending=True))
filter_ = df['A'] >= 11
print(df[filter_])
#print(df[(df['A'] >= 11) | (df['B'] >= 10)])
dfk=df['A'].where(cond=df['A'] >= 11)
#print(dfk)
for index, row in df.head(n=2).iterrows():
     print(index, row)
df.columns = ['A','B','C','E']
#print(df)

          A    B   C     D
Row_1  12.0  7.0  20  14.0
Row_1 A    12.0
B     7.0
C    20.0
D    14.0
Name: Row_1, dtype: float64
Row_2 A     4.0
B     2.0
C    16.0
D     3.0
Name: Row_2, dtype: float64

In [49]:
##input
import pandas as pd 
  
# Creating the DataFrame 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],  
                   "B":[7, 2, 54, 3, None],  
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]})  
  
# Create the index 
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'] 
  
# Set the index 
df.index = index_ 
  
# Print the DataFrame 
#print(df) 
#print(df.sort_values(by=['B','A'], ascending=True))
filter_ = df['A'] >= 11
print(df[filter_])
#print(df[(df['A'] >= 11) | (df['B'] >= 10)])
dfk=df['A'].where(cond=df['A'] >= 11)
#print(dfk)
for index, row in df.head(n=2).iterrows():
     print(index, row)
df.columns = ['A','B','C','E']
#print(df)

          A    B   C     D
Row_1  12.0  7.0  20  14.0
Row_1 A    12.0
B     7.0
C    20.0
D    14.0
Name: Row_1, dtype: float64
Row_2 A     4.0
B     2.0
C    16.0
D     3.0
Name: Row_2, dtype: float64

filter_ = df['A'] >= 11
print(df[filter_])

dfk=df['A'].where(cond=df['A'] >= 11)


print(df.sort_values(by=['day','tip'], ascending=True))

In [50]:
##input
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [51]:
##input
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
print("Summary of the basic information about this DataFrame and its data:")
print(df.info())

Summary of the basic information about this DataFrame and its data:
<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

text
for day, group in df['day'].where(cond = df['sex']='male'):
    #df['day_mean'] = group['total_bill'].mean()
    print('average bill for ' + day + ' is ' + str(group['total_bill'].mean()))