<a href="https://colab.research.google.com/github/MAHARAJASINGH/PythonBeginner/blob/master/PythonDay9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
##what is the difference between pd.merge and pd.concat?
##pd. merge can take DataFrame s as its argument, and is used to combine two DataFrame s with same columns or index,
# which can't be done with pd. concat since it will show the repeated column in the DataFrame.
# Whereas join can be used to join two DataFrame s with different indices.
#I guess the merge is more if column level where as concat for coming entire df with equal dimensions
#merge appears to be closer to the SQL style joins
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])
pd.concat([s1, s2], ignore_index=True)
pd.concat([s1, s2], keys=['s1', 's2'])
pd.concat([s1, s2], keys=['s1', 's2'],
names=['Series name', 'Row ID'])
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                    columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])
#pd.concat([df1, df2])
df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
                    columns=['letter', 'number', 'animal'])
#print(df3)
#pd.concat([df1, df3], join="inner")
df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
                   columns=['animal', 'name'])
print(pd.concat([df3, df4], join="inner"))
#pd.concat([df1, df4], axis=1)
df5 = pd.DataFrame([1], index=['a'])
df6 = pd.DataFrame([2], index=['a'])
#pd.concat([df5, df6])

   animal
0     cat
1     dog
0    bird
1  monkey

In [9]:
##input
#ps.sqldf("select df1.*,df2.* from df1 inner join df2 on df1.a = df2.d",globals())
#ps.sqldf("select df1.*,df2.* from df2 left outer join df1 on df1.a = df2.d",globals())
left = pd.DataFrame({'a': [1, 2, 3, 6,8], 'left_val': ['a', 'b', 'c','d','e']})
right = pd.DataFrame({'a': [1, 2, 5, 7],
                       'right_val': [1, 2, 8, 10]})
pd.merge_asof(right,left)
#pd.merge_asof(left, right, on='a')
#pd.merge_asof(left, right, on='a', allow_exact_matches=True)
#pd.merge_asof(left, right, on='a', allow_exact_matches= False)
#pd.merge_asof(left, right, on='a', direction='forward')
#pd.merge_asof(left, right, on='a', direction='nearest')

   a  right_val left_val
0  1          1        a
1  2          2        b
2  5          8        c
3  7         10        d

In [10]:
#input
left = pd.DataFrame({'a': [1, 2, 3, 6,8], 'left_val': ['a', 'b', 'c','d','e']})
right = pd.DataFrame({'a': [1, 2, 3, 7],
                       'right_val': [1, 2, 8, 10]})
pd.merge(left,right)
#pd.merge_asof(right,left)
#pd.merge_asof(left, right, on='a')
#pd.merge_asof(left, right, on='a', allow_exact_matches=True)
#pd.merge_asof(left, right, on='a', allow_exact_matches= False)
#pd.merge_asof(left, right, on='a', direction='forward')
#pd.merge_asof(left, right, on='a', direction='nearest')

   a left_val  right_val
0  1        a          1
1  2        b          2
2  3        c          8

In [13]:
##input
df = pd.DataFrame({"A":[12, 4, 5, None, 1],  
                   "B":[7, 2, 54, 3, None],  
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]})  
  
# Create the index 
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'] 
  
# Set the index 
df.index = index_ 
  
# Print the DataFrame 
print(df) 
print(df.sort_values(by=['B','A'], ascending=True))

          A     B   C     D
Row_1  12.0   7.0  20  14.0
Row_2   4.0   2.0  16   3.0
Row_3   5.0  54.0  11   NaN
Row_4   NaN   3.0   3   2.0
Row_5   1.0   NaN   8   6.0
          A     B   C     D
Row_2   4.0   2.0  16   3.0
Row_4   NaN   3.0   3   2.0
Row_1  12.0   7.0  20  14.0
Row_3   5.0  54.0  11   NaN
Row_5   1.0   NaN   8   6.0

In [14]:
##input
import pandas as pd 
  
# Creating the DataFrame 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],  
                   "B":[7, 2, 54, 3, None],  
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]})  
  
# Create the index 
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'] 
  
# Set the index 
df.index = index_ 
  
# Print the DataFrame 
#print(df) 
#print(df.sort_values(by=['B','A'], ascending=True))
filter_ = df['A'] >= 5
#print(df[filter_])
print(df[(df['A'] >= 5) & (df['B'] >= 11)])

         A     B   C   D
Row_3  5.0  54.0  11 NaN

In [17]:
##dataframes with where condition
import pandas as pd 
  
# Creating the DataFrame 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],  
                   "B":[7, 2, 54, 3, None],  
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]})  
  
# Create the index 
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'] 
  
# Set the index 
df.index = index_ 
  
# Print the DataFrame 
#print(df) 
#print(df.sort_values(by=['B','A'], ascending=True))
filter_ = df['A'] >= 5
#print(df[filter_])
#print(df[(df['A'] >= 5) & (df['B'] >= 11)])
dfk=df['A'].where(cond=df['A'] >= 5)
print(dfk)
print(filter_)

Row_1    12.0
Row_2     NaN
Row_3     5.0
Row_4     NaN
Row_5     NaN
Name: A, dtype: float64
Row_1     True
Row_2    False
Row_3     True
Row_4    False
Row_5    False
Name: A, dtype: bool

In [18]:
##input
import pandas as pd 
  
# Creating the DataFrame 
df = pd.DataFrame({"A":[12, 4, 5, None, 1],  
                   "B":[7, 2, 54, 3, None],  
                   "C":[20, 16, 11, 3, 8],  
                   "D":[14, 3, None, 2, 6]})  
  
# Create the index 
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5'] 
  
# Set the index 
df.index = index_ 
  
# Print the DataFrame 
#print(df) 
#print(df.sort_values(by=['B','A'], ascending=True))
filter_ = df['A'] >= 5
#print(df[filter_])
#print(df[(df['A'] >= 5) & (df['B'] >= 11)])
dfk=df['A'].where(cond=df['A'] >= 5)
#print(dfk)
for index, row in df.head(n=2).iterrows():
     #print(index, row)
     print(row)

A    12.0
B     7.0
C    20.0
D    14.0
Name: Row_1, dtype: float64
A     4.0
B     2.0
C    16.0
D     3.0
Name: Row_2, dtype: float64

In [20]:
##filling the na value
import numpy as np
df_ = pd.DataFrame({'x': [1, 2, np.nan, 4]})
print(df_.mean())
print(df_.mean(skipna=False))
df_.fillna(value=0)
df_.interpolate()
df_.dropna()

x    2.333333
dtype: float64
x   NaN
dtype: float64

     x
0  1.0
1  2.0
3  4.0