<a href="https://colab.research.google.com/github/MAHARAJASINGH/PythonBeginner/blob/master/PythonDay13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##input
##number dataframe
# Creating the Series 
import pandas as pd
sr = pd.Series([11, 21, 8, 18, 65, 18, 32, 10, 5, 32, None]) 
  
# Create the Index 
# apply yearly frequency 
index_ = pd.date_range('2010-10-09 08:45', periods = 11, freq ='Y') 
  
# set the index 
sr.index = index_ 
  
# Print the series 
print(sr) 
result = sr.apply(lambda x : True if x>30 else False) 
  
# Print the result 
print(result)

2010-12-31 08:45:00    11.0
2011-12-31 08:45:00    21.0
2012-12-31 08:45:00     8.0
2013-12-31 08:45:00    18.0
2014-12-31 08:45:00    65.0
2015-12-31 08:45:00    18.0
2016-12-31 08:45:00    32.0
2017-12-31 08:45:00    10.0
2018-12-31 08:45:00     5.0
2019-12-31 08:45:00    32.0
2020-12-31 08:45:00     NaN
Freq: A-DEC, dtype: float64
2010-12-31 08:45:00    False
2011-12-31 08:45:00    False
2012-12-31 08:45:00    False
2013-12-31 08:45:00    False
2014-12-31 08:45:00     True
2015-12-31 08:45:00    False
2016-12-31 08:45:00     True
2017-12-31 08:45:00    False
2018-12-31 08:45:00    False
2019-12-31 08:45:00     True
2020-12-31 08:45:00    False
Freq: A-DEC, dtype: bool

In [ ]:
##input
##way of defininng a function in python
#for main method
def add(a, b, c): 
    return a + b + c 
  
def main(): 
      
    # create a dictionary with 
    # three fields each 
    data = { 
            'A':[1, 2, 3],  
            'B':[4, 5, 6],  
            'C':[7, 8, 9] } 
      
    # Convert the dictionary into DataFrame  
    df = pd.DataFrame(data) 
    print("Original DataFrame:\n", df) 
      
    df['add'] = df.apply(lambda row : add(row['A'], 
                     row['B'], row['C']), axis = 1) 
   
    print('\nAfter Applying Function: ') 
    # printing the new dataframe 
    print(df) 
   
if __name__ == '__main__': 
  main()

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

After Applying Function:
   A  B  C  add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [ ]:
##input
##normalising in Python
import numpy as np
import pandas as pd 
  
def normalize(x, y): 
    x_new = ((x - np.mean([x, y])) /
             (max(x, y) - min(x, y))) 
      
    # print(x_new) 
    return x_new 
  
def main(): 
      
    # create a dictionary with three fields each 
    data = { 
        'X':[1, 2, 3],  
        'Y':[45, 65, 89] } 
      
    # Convert the dictionary into DataFrame  
    df = pd.DataFrame(data) 
    print("Original DataFrame:\n", df) 
      
    df['X'] = df.apply(lambda row : normalize(row['X'], 
                                  row['Y']), axis = 1) 
   
    print('\nNormalized:') 
    print(df) 
   
if __name__ == '__main__': 
    main()

Original DataFrame:
    X   Y
0  1  45
1  2  65
2  3  89

Normalized:
     X   Y
0 -0.5  45
1 -0.5  65
2 -0.5  89

In [ ]:
##code of sharada
##pd.options.mode.chained_assignment = None -- what this does ?
import pandas as pd 
import numpy as np 
   
pd.options.mode.chained_assignment = None
  
# Function to generate range 
def generate_range(n): 
      
    # printing the range for eg: 
 # input is 67 output is 60-70 
    n = int(n) 
      
    lower_limit = n//10 * 10
    upper_limit = lower_limit + 10
      
    return str(str(lower_limit) + '-' + str(upper_limit)) 
       
def replace(row): 
    for i, item in enumerate(row): 
          
        # updating the value of the row 
        row[i] = generate_range(item) 
    return row 
           
   
def main(): 
    # create a dictionary with 
    # three fields each 
    data = { 
            'A':[0, 2, 3],  
            'B':[4, 15, 6],  
            'C':[47, 8, 19] } 
      
    # Convert the dictionary into DataFrame  
    df = pd.DataFrame(data) 
   
    print('Before applying function: ') 
    print(df) 
       
    # applying function to each row in 
    # dataframe and storing result in a new coloumn 
    df = df.apply(lambda row : replace(row)) 
       
   
    print('After Applying Function: ') 
    # printing the new dataframe 
    print(df) 
   
if __name__ == '__main__': 
    main()

Before applying function:
   A   B   C
0  0   4  47
1  2  15   8
2  3   6  19
After Applying Function:
      A      B      C
0  0-10   0-10  40-50
1  0-10  10-20   0-10
2  0-10   0-10  10-20

In [ ]:
##input
import pandas as pd
import numpy as np
cat = pd.Categorical(["a", "c", "c", np.nan], categories=["b", "a", "c"])
df = pd.DataFrame({"cat":cat, "s":["ab", "cd", "ce", np.nan]})
rdf = pd.DataFrame(np.random.randn(10, 4),
                  columns=['Col1', 'Col2', 'Col3', 'Col4'])
print(df)
print(rdf.describe())
#print(df["cat"].describe())

   cat    s
0    a   ab
1    c   cd
2    c   ce
3  NaN  NaN
            Col1       Col2       Col3       Col4
count  10.000000  10.000000  10.000000  10.000000
mean    0.422765  -0.536056  -0.229824   0.825435
std     1.143564   0.800611   1.087770   0.994936
min    -1.203120  -2.016265  -1.957440  -0.514515
25%    -0.562465  -0.879588  -0.907408   0.241284
50%     0.529899  -0.700596  -0.302875   0.371807
75%     1.202712  -0.053857   0.286283   1.767692
max     1.995778   0.924983   1.724516   2.411364

normalise the data----fit the data in the interval
normising it with the formula...so that it will fall within the range

In [ ]:
##input
import pandas as pd
import numpy as np
s = pd.Categorical(["primary", "student", "working", np.nan], categories=["primary", "student", "working"])
print(s.categories)
print(s)
#from Sharada Lakshmanan (internal) to everyone:

Index(['primary', 'student', 'working'], dtype='object')
[primary, student, working, NaN]
Categories (3, object): [primary, student, working]
0    a
1    b
2    c
3    a
dtype: category
Categories (4, object): [a, b, c, 4]
Index(['a', 'b', 'c', 4], dtype='object')

In [ ]:
##input
##joseph, i think it is like you are creating a new list of values... like one we create in Excel
import pandas as pd
s = pd.Series(["a","b","c","a"], dtype="category")
s = s.cat.add_categories([4])
print(s)
print(s.cat.categories)

0    a
1    b
2    c
3    a
dtype: category
Categories (4, object): [a, b, c, 4]
Index(['a', 'b', 'c', 4], dtype='object')

it is a list of define values... which then act as replacement to the list of values
what is the significance of mentioing , categories=["b", "a", "c"] in previous example ? It doesn't make any difference if removed
it was just an example.. if your array as 1000 element and your category is having only 5 values
then at the end when yo are computing your ram will be saved
this will become useful in future
from Hitesh to everyone:
try removcing c from categories...u will see in the series where c was there will be replaced with NaN
from Sandeep Kumar (internal) to everyone:
because that list value is not available
from Sandeep Kumar (internal) to everyone:
so you cannot have it defined
from Hitesh to everyone:
i guess that is the use of category...to eliminate values in a series that do not fall into the defined set of ategories

In [ ]:
##input
import pandas as pd
s = pd.Series(["a","b","c","a"], dtype="category")
print("Original object:")
print(s)
print("After removal:")
print(s.cat.remove_categories("a"))
##python is a sensitive language

Original object:
0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): [a, b, c]
After removal:
0    NaN
1      b
2      c
3    NaN
dtype: category
Categories (2, object): [b, c]

In [ ]:
##input
foo = pd.Categorical(['a', 'b','c'], categories=['a', 'b'])
bar = pd.Categorical(['d', 'e','f'], categories=['d', 'e'])
pd.crosstab(foo, bar)

col_0  d  e
row_0
a      1  0
b      0  1

In [ ]:
##input
import pandas as pd
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                            'three' ],
                   'bar': ['A', 'B', 'D', 'E', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
print(df)
print(df.pivot(index='foo', columns='baz', values='zoo'))
print("next Pivot")
print(df.pivot(index='foo', columns='bar')['baz'])
print("next pivot")
df.pivot(index='foo', columns='baz', values=['bar', 'zoo'])
print("next pivot")
df.pivot(index='baz', columns='foo', values='bar')

     foo bar  baz zoo
0    one   A    1   x
1    one   B    2   y
2    one   D    3   z
3    two   E    4   q
4    two   B    5   w
5  three   C    6   t
baz      1    2    3    4    5    6
foo
one      x    y    z  NaN  NaN  NaN
three  NaN  NaN  NaN  NaN  NaN    t
two    NaN  NaN  NaN    q    w  NaN
next Pivot
bar      A    B    C    D    E
foo
one    1.0  2.0  NaN  3.0  NaN
three  NaN  NaN  6.0  NaN  NaN
two    NaN  5.0  NaN  NaN  4.0
next pivot
next pivot

foo  one three  two
baz
1      A   NaN  NaN
2      B   NaN  NaN
3      D   NaN  NaN
4    NaN   NaN    E
5    NaN   NaN    B
6    NaN     C  NaN

df.pivot(index='foo', columns='baz', values=['bar', 'zoo']) --  this is not getti g printed
from Edwin Herald Ponniah (internal) to everyone:
use print(df.pivot(index='foo', columns='baz', values=['bar', 'zoo']))
from Shruthi A R (internal) to everyone:
oh got it thanks :)

#check duplicates
df = pd.DataFrame({"foo": ['one', 'three', 'two', 'four'],
                    "bar": ['A', 'A', 'B', 'C'],
                    "baz": [1, 2, 3, 4]})
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
##input
import numpy as np
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                          "bar", "bar", "bar", "bar"],
                    "B": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                    "C": ["small", "large", "large", "small",
                          "small", "large", "small", "small",
                          "large"],
                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
#print(df.describe)
table = pd.pivot_table(df, values='D', index=['A', 'B'],
                     columns=['C'], aggfunc=np.sum)
print('first pivot')
print(table)

first pivot
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0